---
---

@charset "utf-8";

@import "minimal-mistakes/skins/dark"; // skin
@import "minimal-mistakes"; // main partials

h1,
h2,
h3,
h4,
h5,
h6 {
      margin: 0 0 1em;
      margin-block-end: 0.1em;
}

.page__content ul li {
    margin-bottom: 0;
    font-size: 13pt;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.page__content ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

.page__content ul li ul li {
    margin-bottom: 0;
    font-size: 11pt;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    list-style-type: "- ";
}

.page__content ul li ul {
    margin-block-start: 0;
    margin-block-end: 0.1em;
    padding-inline-start: 20px;
}
.page__content p {
    margin: 0 0 0;
}

article.page {
    padding-right: 0;
}

.social-icons .fa-github {
    color: #eaeaea;
}
